.bad-gateway {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;

    .bad-gateway__span {
        font-size: 20px;
        color: var(--header-text-color);
        font-family: Rubic;
        font-weight: bold;
        text-shadow: inset 0 3px 4px black;
    }
    .error{
        font-size: 10px;
        font-weight: normal;
    }
}