<div class="wrapper">
    <div class="header">
        <span class="header__span">Новинки 2024</span>
    </div>
    <div class="catalog">
        <swiper-container class="catalog-swiper" slides-per-view="auto" space-between="20">
            @for (item of items(); track $index) {
                <swiper-slide class="swiper-slide" >
                    <a href="" class="swiper-slide__a" routerLink="movie/{{item.id}}">
                        <div class="slide">
                            <img class="img" [src]="item.poster">
                            <span class="card__span">{{item.name}}</span>
                            <div class="card_rating" [ngClass]="getRatingClass(item.rating)">
                                <div class="rating__span">{{item.rating}}</div>
                            </div>
                        </div>
                    </a>
               
                </swiper-slide>
            }
  
         

        </swiper-container>
      
    </div>
</div>