.wrapper {
    width: 100%;
    position: fixed;
    height: 50px;
    background: rgb(0, 255, 55);
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 7px;
}

.icon {
    width: 30px;
    height: 30px;
}
.wrapper__span{
    color: white;
    font-family: Open Sans;
    font-weight: 700;
    font-size: 17px;
}