<div class="wrapper">
    @if (isApi) {
    <div class="container">
        <div class="wrapper_header">
            <span class="wrapper_header__span">Личный кабинет</span>
        </div>
        <div class="settings">
            <div class="settings_item">
                <div class="settings_item_header__span">Покупка подписки</div>
                <a href="#" class="settings_item_container settings_item_btn">
                    @if (user?.isSubscribe) {
                    <span class="settings_item__span">
                        Продлить
                    </span>
                    } @else { 
                        <span class="settings_item__span"> Купить</span>
                    }

                </a>
            </div>
            <div class="settings_item">
                <div class="settings_item_header__span">Состояние подписки</div>
                @if (user?.isSubscribe) {
                    <div class="settings_item_container sub_condition">
                        <span class="settings_item__span">
                          {{endDate?.message}}
                        </span>
                        <div class="sub_condition_circle sub_condition_circle-green" ></div>
                    </div>
                } @else {
                    <div class="settings_item_container sub_condition">
                        <span class="settings_item__span">
                            {{endDate?.message}}
                        </span>
                        <div class="sub_condition_circle sub_condition_circle-red" ></div>
                    </div>
                }
               
               
            </div>
            <div class="settings_item">
                <div class="settings_item_header__span"></div>
                <div class="settings_item_container app_theme" (click)="changeTheme()">
                    @if (isDarkTheme) {
                    <div class="app_theme__div">
                        <span class="settings_item__span">Светлая тема</span>
                        <img src="/assets/sun.svg" alt="" srcset="">
                    </div>
                    } @else {
                    <div class="app_theme__div">
                        <span class="settings_item__span">Тёмная тема</span>
                        <img src="/assets/moon.svg" alt="" srcset="">
                    </div>
                    }


                </div>
            </div>
            @if (promInf && !promInf.success) {
                <div class="settings_item" >
                    <div class="settings_item_container settings_item_container-error">
                        <span class="settings_item_container__span">{{promInf.msg}}</span>
                    </div>
                   
                </div>
            } @else if (promInf && promInf.success) {
                <div class="settings_item" >
                    <div class="settings_item_container settings_item_container-error">
                        <span class="settings_item_container__span">{{promInf.msg}}</span>
                    </div>
                   
                </div>
            }    
            <div class="settings_item">
                <div class="settings_item_header__span">Промокод</div>
                <div class="settings_item__div">
                    <input class="settings_item_container settings_item_container-input" placeholder="Введите промокод" [(ngModel)]="promo"> 
                    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512" class="settings_item_container-img" (click)="sendPomo()">
                        <path
                            d="M476.59 227.05l-.16-.07L49.35 49.84A23.56 23.56 0 0027.14 52 24.65 24.65 0 0016 72.59v113.29a24 24 0 0019.52 23.57l232.93 43.07a4 4 0 010 7.86L35.53 303.45A24 24 0 0016 327v113.31A23.57 23.57 0 0026.59 460a23.94 23.94 0 0013.22 4 24.55 24.55 0 009.52-1.93L476.4 285.94l.19-.09a32 32 0 000-58.8z" />
                    </svg>
                  
                </div>
              
            </div>

            <div class="settings_item">
                <div class="settings_item_header__span">Ваша реферальная ссылка</div>
                <div class="settings_item__div">
                    
                    <div class="settings_item_container " (click)="copyRef(user?.refUrl)" [ngClass]="{'settings_item_container-copied': isCopy}">
                        @if (!isCopy) {
                            <span class="settings_item__span">Скопировать</span>
                        } @else { 
                            <span class="settings_item__span">Скопировано</span>
                            <img src="/assets/check.svg" alt="Img check" srcset="" width="32px">
                        }
                       
                    </div>
                  
                </div>
              
            </div>
        </div>
    </div>

    } @else {
    <app-error />
    }

</div>