<div class="wrapper">
    <div class="wrapper_header">
        <div class="wrapper_header__span">Топ кино </div>
        <img src="/assets/kp-logo.png" class="wrapper_header__img">
    </div>
    <div class="wrapper_container">
        <swiper-container class="swiper" space-between="21" slides-per-view="auto">
            @for (item of items; track $index) {
                <swiper-slide >
                    <div class="rating" [ngClass]="getRatingClass(item.rating)">
                        <span class="rating__span">{{item.rating}}</span>
                    </div>
                   <a href="" routerLink="movie/{{item.id}}" class="swiper-slide__a">
                    <div class="slide" style="background: linear-gradient(to top, #0000006e, #3b3b3b3b, rgb(119 119 119 / 12%), rgba(185, 185, 185, 0), rgba(255, 255, 255, 0)), url({{item.poster}}) no-repeat left 0 top 0 /cover ;">
                        <span class="slide_name">{{item.name}}</span>
                        <div class="slide_info">
                            <span class="slide_info__span">{{item.year}}</span>
                            <span class="slide_info__span">{{item.genre}}</span>
                            <span class="slide_info__span">{{item.time}}</span>
                        </div>
                    </div>
                   </a>
    
                </swiper-slide>
            }
         
           


        </swiper-container>
    </div>
</div>