.wrapper {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 23px;
    padding: 0 0 0 25px;
}

.wrapper_header {
    width: 100%;
    height: 25px;
    display: flex;
    gap: 20px;
}

.wrapper_header__span {
    font-family: Rubik;
    font-size: 30px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: -0.40799999237060547px;
    color: var(--header-text-color);

}

.wrapper_container {
    width: 100%;
    min-height: 100px;
}

.swiper {
    height: 205px;

    swiper-slide {
        width: 71%;
        background: red;
        height: 100%;
        border-radius: 25px;
        overflow: hidden;
        position: relative;
    }

    .rating {
        position: absolute;
        width: 50px;
        height: 26px;
        border-radius: 8px;
        display: grid;
        place-items: center;
        top: 16px;
        left: 16px;

        .rating__span {
            font-family: Jost;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.40799999237060547px;
            color: white;
        }

       
    }
    .rating-positive {
        background: rgba(0, 177, 39, 1);
    }
    .rating-negative {
        background: rgba(240, 106, 48, 1);
    }

    .swiper-slide__a {
        text-decoration: none;
    }

    .slide {
        width: 100%;
        height: 100%;
        background: red;

        display: flex;
        flex-direction: column;
        padding: 16px;
        justify-content: flex-end;
        gap: 8px;



        .slide_name {
            font-family: Rubik;
            font-size: 20px;
            font-weight: 500;
            line-height: 22px;
            letter-spacing: -0.40799999237060547px;
            color: white;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap
        }

        .slide_info {
            width: 100%;
            height: 22px;
            display: flex;
            gap: 10px;

            .slide_info__span {
                font-family: Rubik;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                letter-spacing: -0.40799999237060547px;
                color: white;
            }
        }
    }

}

@media screen and (max-width:450px) {
    .swiper {
        swiper-slide {
            width: 100%;
        }
    }
}

@media screen and (max-width:400px) {
    .wrapper_header__img {
        display: none;
    }
}