<div class="wrapper">
    <span class="wrapper_header__span">История просмотра</span>
    <div class="catalog">
        <swiper-container class="swiper" space-between="21" slides-per-view="auto">
            @for (item of history; track $index) {
            <swiper-slide>
                <a href="" class="slide__a" routerLink="movie/{{item.id}}">
                    <div class="slide"
                        style="background: linear-gradient(to top, #0000006e, #3b3b3b3b, rgb(119 119 119 / 12%), rgba(185, 185, 185, 0), rgba(255, 255, 255, 0)), url({{item.poster}}) no-repeat left 0 top 0 /cover ;">
                        <span class="slide_name">{{item.name}}</span>
                        <div class="slide_info">
                            <span class="slide_info__span">Просмотр закончен на {{item.time}}</span>
                        </div>
                    </div>
                </a>
            </swiper-slide>
            }

        </swiper-container>
    </div>
</div>