<div class="persons">
    <h2 class="persons__h2">Актёры и съёмочная группа</h2>
    <div class="persons_container">
        @if (persons()) {
            @for (item of persons(); track $index) {
                <div class="person" [routerLink]="['../../person', item.id]">
                   <img class="person__img" [src]="item.photo">
                   <span class="person__span" *ngIf="item.name">{{item.name }}</span>
                   <span class="person__span" *ngIf="!item.name">{{item.enName }}</span>
                   <span class="person__span profession__span">{{item.profession | stringEnds}}</span>
                </div>
            }
    }
    </div>

</div>