.container {
    width: 100%;
    min-height: 100px;
    padding: 0 22px 0;
}

.swiper {
    min-height: 100px;
}

.swiper-slide {
    min-height: 160px;
    background: white;
    border-radius: 0;
    background: transparent;
    overflow: hidden;
    position: relative;
}

.swiper-slide:first-child {
    border-radius: 32px 0 0 32px;
}

.swiper-slide:last-child {
    border-radius: 0 32px 32px 0;
}



.swiper-slide__div {
    width: 100%;
    height: 263px;
    display: flex;
    padding: 20px 15px;
    cursor: pointer;
    align-items: flex-end;
    position: relative;

    .swiper-slide_rating {
        width: 50px;
        height: 26px;
        border-radius: 8px;
        position: absolute;
        top: 10px;
        left: 10px;
        display: grid;
        place-items: center;

        .swiper-slide_rating__span {
            font-family: Jost;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            letter-spacing: -0.4079999924px;
            color: white;
        }
    }
    .swiper-slide_rating-positive{
        background: rgba(0, 177, 39, 1);
    }
    .swiper-slide_rating-negative{
        background: rgba(240, 106, 48, 1);
    }

    .swiper-slide__img {
        width: 100%;
        aspect-ratio: 3 / 2;
    }

    .swiper-slide_name {

        bottom: 40px;
        left: 20px;
        font-family: Rubik;
        font-size: 25px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: -0.4079999924px;
        color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        text-shadow: 0 0 5px black;
        width: 100%;

    }

}