.wrapper{
    display: flex;
    width: 100%;
    min-height: 10px;
    gap: 10px;
}

.wrapper_img{
    height: 100%;
    flex: 1 1;
    .img{
        width: 100%;
        border-radius: 15px;
    }
}
.name{
    flex: 2 1;
    .name__span{
        color: var(--header-text-color);
        font-family: Rubik;
        font-size: 22px;
        font-weight: 500;
        line-height: 26.07px;
    }
}