.wrapper {
    width: 100%;
    min-height: 100px;
    padding: 0 22px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper_header {
    width: 100%;
    min-height: 52px;
    display: flex;
    justify-content: space-between;
    position: relative;

    .wrapper_header__inp {
        width: 350px;
        min-height: 52px;
        border-radius: 26px;
        outline: none;
        border: 1px solid var(--search-border-inp);
        padding: 0 5px 0 69px;
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.33px;
        color: rgba(34, 18, 51, 1);
    }

    .wrapper_header__inp::placeholder {
        font-family: Rubik;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.33px;
        color: rgba(34, 18, 51, 1);
    }

}

.wrapper_header::after {
    content: '';
    width: 24px;
    height: 24px;
    position: absolute;
    top: 14px;
    left: 29px;
    background-image: url('/assets/search.svg');

    background-size: cover;

}

.wrapper_catalog {
    width: 100%;
    min-height: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
}

.card__a {
    text-decoration: none;
    color: black;
}

.favourite {
    width: auto;
    min-height: 52px;
    display: flex;
    gap: 5px;
    align-items: center;

    .icon {
        width: 30px;
        height: 30px;
    }

    .favourite__span {
        color: white;
        font-family: Open Sans;
        font-weight: 700;
        font-size: 18px;

    }
}

@media screen and (max-width:540px) {
    .wrapper_header {
        .wrapper_header__inp {
            width: 55%;
        }
    }

}

@media screen and (max-width:420px) {
    .wrapper_header {
        gap: 5px;

        .wrapper_header__inp {
            width: 100%;
        }
    }

    .favourite {
        align-self: flex-end;
    }
}