<div class="filmography">
        <div class="filmography_tabs">
                <span class="filmography_tabs__span">Фильмография</span>
             <!--    <swiper-container class="tabs" space-between="30" slides-per-view="2">
                   
                                <swiper-slide class="tab tab-active" >
                                        [ngClass]="{'tab-active': item.profession == tabs}"
                                (click)="changeTab(item.profession)"
                                <span class="tabs__span">Актёр</span>

                        </swiper-slide>
                        
                 
                </swiper-container> -->

        </div>
        <div class="filmography_content">
                @for (item of content; track $index) {
                        
                        <div class="card" [routerLink]="['../../movie', item.film.id.kp]">
                                <div class="card_poster">
                                    <img [src]="item?.film?.pictures?.poster?.big" class="card_poster__img" alt="">
                                    <div class="card_rating" [ngStyle]="{background: checkRatingStyle(item!.film.rating.kp)}">
                                        <span class="rating__span">{{item?.film?.rating?.kp  | roundToNearest}}</span>
                                    </div>
                                    <div class="card_profession" *ngIf="item?.film?.profession">
                                        <span class="card_profession__span">{{item?.film?.profession | stringEnds}}</span>
                                    </div>
                                </div>
                        
                                <div class="card_info">
                                    <div class="card_info_names">
                                        @if (item; as card) {
                        
                                        <span class="card_info_names__span" *ngIf="card.film.names.name">{{card.film.names.name}}</span>
                                        <span class="card_info_names__span" *ngIf="card.film.names.alternative">{{card.film.names.alternative}}</span>
                        
                                        @if (!card.film.names.name && !card.film.names.alternative) {
                                        <span class="card_info_names__span">Название отсуствует</span>
                                        }
                                        }
                        
                        
                                    </div>
                                    <div class="card_info_genres">
                                        @if (item; as card) {
                                        @if (card.film.nominations) {
                                        @for (item of card.film.nominations; track $index) {
                                        <span class="genres_item item_list">{{item}}</span>
                                        }
                                        }
                                        <span class="genres_item item_series">{{card.film.type| searchCardType}}</span>
                                        @for (item of card.categories; track $index ;let idx = $index) {
                                        @if(idx < 4){ <span class="genres_item">{{item.name}}</span>
                        
                                            }
                                            }
                                            @if (card.film.age_rating.age) {
                                            <span class="genres_item item_age-rating">18+</span>
                                            }
                                            }
                        
                        
                                    </div>
                                </div>
                        
                            </div>
                }
        </div>
</div>