.filmography {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.filmography_tabs {
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .filmography_tabs__span {
        color: var(--header-text-color);
        font-family: Open Sans;
        font-weight: 700;
        font-size: 25px;
    }
}

.tabs {
    width: 100%;
    min-height: 40px;
    display: flex;
    gap: 30px;
    justify-content: center;

    .tab {
        flex: 1 1;
        border-radius: 7px;
        background: #650b74;
        display: grid;
        place-items: center;

        .tabs__span {
            color: var(--header-text-color);
            font-family: Open Sans;
            font-weight: 600;
            font-size: 18px;
        }
    }

    .tab-active {
        background: #666666;
    }
}

.filmography_content {
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

@media screen and (max-width:450px) {
    .tabs {
        gap: 10px;
    }
}

@media screen and (max-width:345px) {
    .tabs {
       .tab{
        .tabs__span {
            font-size: 15px;
        }
       }
    }
}