<div class="filmography">
    <div class="filmography_tabs">
        <span class="filmography_tabs__span">Фильмография</span>
        <div class="tabs">
            <div class="tab" *ngIf="data.actor" [ngClass]="{'tab-active': tabs[0]}" (click)="changeTab(0)">
                <span class="tabs__span">Актёр</span>
            </div>
            <div class="tab" *ngIf="data.screenwriter" [ngClass]="{'tab-active': tabs[1]}" (click)="changeTab(1)">
                <span class="tabs__span">Сценарист</span>
            </div>
            <div class="tab" *ngIf="data.producer" [ngClass]="{'tab-active': tabs[2]}" (click)="changeTab(2)">
                <span class="tabs__span">Продюсер</span>
            </div>
        </div>
    </div>
    <div class="filmography_content">
        @for (item of content; track $index) {
        <app-seacrh-card [card]="item" [routerLink]="['../../movie', item.id]"/>
        }
    </div>
</div>