<div class="wrapper">

    <app-watch-history />
    <app-m-swiper />
    <app-innovation />
    <app-genres />
    <app-top-movie />
    <app-search />
    @if (isRandomaizerActive == true) {
        <app-randomaizer (closeModal)="changeState()"/>
    }
    
    <div class="wrapper_button" (click)="changeState()">
            <div class="wrapper_button_item">
                <span class="wrapper_button_item__span">Рандомайзер</span>
                <span class="wrapper_button_item__span">Когда не знаете что посмотреть</span>
            </div>
    </div>

</div>