<div class="wrapper">
    @if(load){

    <app-movie-skeleton />

    } @else {

    <div class="header">
        <div class="photo">
            <img [src]="person.data.person.info.id.photo" alt="" srcset="">
        </div>
        <div class="info">
            <div class="item">
                <div class="item_div">
                    <h2 class="item__h2">{{person.data.person.info.names.name}}</h2>

                </div>
                <span class="item__span item__span-grey">{{person.data.person.info.names.en}}</span>
                <span class="item__span lifetime__span  lifetime_age">Возраст: {{person.data.person.info.date.age}}
                    г.</span>
            </div>


        </div>
    </div>
    <!--     <app-persons-best-movie [data]="bestMovie"/> -->
    <app-persons-filmography [getData]="person" />
    }
</div>