<div class="wrapper">
  @if (isApi) {
    <div class="profile" routerLink="/profile">
        <img src="/assets/profile.svg" width="24" alt="" srcset="">
    </div>
    <app-back-button />
    <div class="genres">
        @for (item of genres; track $index) {
            <div class="genres_item" routerLink="/catalog" [queryParams]="{genre: item.name}">
                <span class="genres_item__span" routerLinkActive="active">{{item.name}}</span>
            </div>
        }
    
    </div>
    <div class="cards">
        @for (item of cards; track $index) {
            <app-catalog-card [card]="item" [routerLink]="['/movie', item.id]"/>
        }
       
    </div>
   
  } @else {
    <app-error />
  }
</div>