<div class="wrapper">
    @if (isApi) {
    <div class="poster"
        style="background:  linear-gradient(0deg, var(--movie-gradient) 0%, rgba(255,255,255,0) 100%),linear-gradient(180deg, var(--movie-gradient) 0%, rgba(255,255,255,0) 100%), url({{movie.poster.url}}) no-repeat top 0 right 0 /cover;  ">
        <div class="poster_img">
            <img [src]="movie.poster.url" class="poster__img" alt="Poster">
            <div class="rating" *ngIf="movie.rating">
                @for (item of ratingStars; track $index) {
                <img src="/assets/stars.svg" alt="star" srcset="">
                }
            </div>
        </div>


    </div>

    <div class="container">
        <app-movie-header [data]="header"/>
        <div class="description">
            <span class="description__span">{{movie.description}}</span>
        </div>
        <app-movie-rating />
        <app-movie-persons [persons]="movie.persons"/>
        <app-movie-genres-nominations [getData]="gen_nom"/>


    </div>

    } @else {
    <app-error />
    }
</div>